﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark"
                   asp-page="/Admin/Dashboard">
                    Dashboard
                </a>
            </li>
        }

        @if (User.IsInRole("PT"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark"
                   asp-page="/PT/Dashboard">
                    Dashboard
                </a>
            </li>
        }

        @if (User.IsInRole("Client"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark"
                   asp-page="/Client/Dashboard">
                    Dashboard
                </a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-area="Identity"
               asp-page="/Account/Manage/Index">
                Hello @User.Identity?.Name!
            </a>
        </li>

        <li class="nav-item">
            <form asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">

                <button type="submit"
                        class="nav-link btn btn-link text-dark">
                    Logout
                </button>
            </form>
        </li>
  }
</ul>