@page
@model PTMS.Pages.Client.BookModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Client")]

<h1>Booking Form</h1>

<p>Booking with: @Model.TrainerName</p>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">

    <input type="hidden" asp-for="TrainerId" />

    <div>
        <label>Age</label>
        <input asp-for="Age" class="form-control" />
    </div>

    <div>
        <label>Current Weight</label>
        <input asp-for="CurrentWeight" class="form-control" />
    </div>

    <div>
        <label>Target Weight</label>
        <input asp-for="TargetWeight" class="form-control" />
    </div>

    <div>
        <label>Experience</label>
        <textarea asp-for="Experience" class="form-control"></textarea>
    </div>

    <button type="submit">Send Request</button>

</form>