@page
@model PTMS.Pages.TrainerCreateSessionModel

<h2>Create Session</h2>

<form method="post">

    <label>Date</label>
    <input asp-for="Session.SessionDate" type="datetime-local" />

    <br />

    <label>Price</label>
    <input asp-for="Session.Price" type="number" />

    <br />

    <label>Description</label>
    <input asp-for="Session.Description" />

    <br />

    <button type="submit">Create</button>

</form>